/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Actual style */

.main-container{

    /*min-height: 500px;*/
    /*min-width: 500px;*/

    background-image: url("https://www.101computing.net/enigma/images/metallic-texture.jpg");

    border-left: 1vmin solid #DDD;
    border-right: 1vmin solid #DDD;
    border-radius: 10px;

    grid-column: 2;

    display: grid;
    grid-template-rows: 10vmin 10vmin calc(40vmin - 10vmin)  calc(50vmin - 10vmin) 10vmin;
    grid-template-columns:  1fr 98vmin 1fr;
}

.bulbs-container{
    grid-row: 4;
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
}

.first-row, .second-row, .third-row{
    display: grid;
    display: grid;
}

.first-row{
    grid-row: 1;
    grid-column: 1;

    grid-template-columns: repeat(10, 1fr);
}

.second-row{
    grid-row: 2;
    grid-column: 1;

    grid-template-columns: 0.5fr repeat(9, 1fr) 0.5fr;
}

.third-row{
    grid-row: 3;
    grid-column: 1;

    grid-template-columns: 1.5fr repeat(7, 1fr) 1.5fr;
}

.bulb{
    place-self: center;

    display: flex;
    border: 1px solid #DDD;;

    height: 50%;
    width: 50%;

    border-radius: 100%;

    align-items: center;
    justify-content: center;

    user-select: none;

    background: linear-gradient(135deg, #000000 0%,#0a0a0a 11%,#0a0a0a 21%,#4e4e4e 33%,#383838 37%,#383838 37%,#1b1b1b 43%,#1b1b1b 43%,#000000 100%);

    color: #DDD;
    font-weight: bold;

    font-size: calc((50vmin - 10vmin)/12);
}

.rotors{
    grid-row: 3;
    grid-column: 2;

    place-self: center;

    display: grid;
    grid-template-rows: repeat(3, calc((40vmin - 10vmin)/3));
    grid-template-columns: repeat(3, calc((40vmin - 10vmin)/3));

}

.fast, .slow, .medium{
    display: flex;

    justify-content: space-around;
    align-items: center;
}

.fast{
    grid-column: 1;
    grid-row: 1/4;
}

.medium{
    grid-column: 2;
    grid-row: 1/4;
}

.slow{
    grid-column: 3;
    grid-row: 1/4;
}

.rotors div{
    display: flex;
    flex-direction: column;
}

.increment, .decrement, .value{

    font-size: calc((40vmin - 10vmin)/3 - 20px);

    font-weight: bold;

    cursor: default;
    user-select: none;
}

.value{
    color: #DDD;
}

.increment, .decrement{
    background: #DDD;

    cursor: pointer;
}

body{
    background-image: radial-gradient(#000, #666);

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

h1{
    font-family: monospace;

    grid-row: 2;
    grid-column: 2;
    font-size: 7vmin;

    color: #DDD;
    text-align: center;
}

img{
    width: 10vmin;
    height: 10vmin;

    position: fixed;
    right: 0;
    top: 0;
}

.info {
    background: #000;
    color: #DDD;

    position: fixed;
    right: 0;
    top: 10vmin;

    width: 20vw;
}



@media only screen and (max-width: 768px) {
    .main-container{

        background-image: url("https://www.101computing.net/enigma/images/metallic-texture.jpg");

       border: none;

        width: 100vw;
        height: 100vh;

        display: grid;
        grid-template-rows: 10vmin 10vmin calc(40vmin - 10vmin)  calc(50vmin - 10vmin) 10vmin;
        grid-template-columns:  1fr 98vmin 1fr;
    }
}


